* {
    font-family: Arial, Helvetica, sans-serif;
}

.out{
    border: .5px solid black;
    padding: 5px;
    font-weight: bolder;
    border-radius: 5px;
    background: floralwhite; 
    }

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items:center; 
    text-align: center;
    }
.greeting {
    font-size: 70px;
    background-color: red;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    color: floralwhite;
    padding: 0px 20px;
}
.my {
    font-size: 37px;
    color: floralwhite;
    padding: 0px 58px;
    background-color: red;
    margin: 0px 0px;
    line-height: 120%;
    }

    .name { 
    background-color: floralwhite;
    font-size: 45px;
    font-family: cursive;
    font-style: italic;
}   
footer{   
    font-size: 30px;
    color: red;
    padding: 0PX 150px;
    background-color: red;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    border-bottom: black;

input {
    display: block;
}

.change {
    background-color: white;
    border-top: black;
}